*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 80vh;
    width: 100vw;
    background-color: rgb(112, 215, 255);

}

.container {
    display: flex; 
    flex-direction: column;
    margin: 10% 10%;
    padding: 1rem;
    width: 80vw;
    height: 80vh;
    background-color: rgb(223, 217, 217);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(128, 128, 252, 0.2);
    overflow: hidden;
}

.row1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 35%;
    width: 100%;
}

.row1 .budget, .expenses {
    background-color: #f1f1f1;
    padding: 15px 15px;
    width: 48%;
    margin: 1rem 0;
    text-align: left;
    line-height: 40px;
    font-size: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.row1 input {
    height: 2rem;
    width: 97%;
    margin: .5rem 0;
    background-color: #f1f1f1;
    border: 0.5px solid rgb(206, 201, 201);
    border-radius: 5px;
}

.row1 button {

    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    margin: 15px 0;
    background: rgb(6, 129, 245);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
 }

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 10px;
    margin-bottom: 1rem;
    width: 100%;
    height: 10%;
    line-height: 180%;
    text-align: center;
    background: rgb(6, 129, 245);
    border-radius: 15px;
    overflow: hidden;
}

.row2 div {
    color: #ffffff;
    font-size: 18px;
}

.row2 div h2 {
    font-size: 22px;
    margin: 5px 10px;
}
    
.row3 {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    height: 55%;
    background: #f1f1f1;
    border-radius: 15px;
}

.row3 p {
    font-size: 24px;
    padding: 15px 15px;
}

.expenceTable {
    display: flex;
    flex-direction: column;
    list-style: none; 
    margin: 0 2%;
    line-height: 60px; 
}

.expenceTable div {
    display: inline;
    flex-direction: row;
}

.tableRow {
    display: flex;
    justify-content: center;
    border-left-style: solid;
    border-color: rgb(111, 111, 252);
    padding: 0 40px;
    margin: 10px;
}
.col-1, .col-2 { text-align: center;}
.col-1 {
    flex-basis: 50%;
    
  }
  .col-2 {
    flex-basis: 60%;
  }
  .deleteIcon, .editIcon {
    flex-basis: 10%;
    line-height: 3;
    cursor: pointer;
  }